.btn {
    cursor: pointer;
    text-align: center;
    padding-inline: 1rem;
    color: var(--color-neutral);
    border: .1rem solid var(--color-neutral);
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem #0005;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-decoration: none;
}

.btn:hover, .btn:active {
    border: .1rem solid var(--color-base-200);
}

.btn_primary {
    color: var(--color-neutral-content);
    background-color: var(--color-neutral);
}

.btn_primary:hover, .btn_primary:active{
    background-color: color-mix(in srgb, var(--color-neutral) 80%, black);
}